{% include "navbar.html" with active_tab='home' %}
<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css"><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
<style type="text/css">
.clickable-row{
cursor:pointer;
}
</style>
</head>
<body>
<div class="logged-in-box auth0-box logged-in">
    <img class="avatar" src="{{ auth0User.extra_data.picture }}"/>
    <h2>Welcome {{ user.username }}</h2>
</div>
    <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Employee Data</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Employee No</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Gender</th>
                  <th>Date Of Birth</th>
                  <th>Hire date</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Employee No</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Gender</th>
                  <th>Date Of Birth</th>
                  <th>Hire date</th>
                </tr>
              </tfoot>
	<tbody>
       	{% for employee in employees %}
    <tr class = "clickable-row" data-href="{% url 'empprofile' employee.pk %}"> 
    	<td scope="row">{{ employee.pk}}  </td> 
   		<td scope="row">{{ employee.first_name}} </td> 
   		<td scope="row">{{ employee.last_name}} </td> 
   		<td scope="row">{{ employee.gender}} </td> 
   		<td scope="row">{{ employee.birth_date}} </td>
   		<td scope="row">{{ employee.hire_date}} </td>
   	</tr>
    	{% empty %}
    <tr>
    	<td> Null </td>
    	<td> Null </td>
    	<td> Null </td>
    	{% endfor %}
    </tr>
    </tbody>
	</table>
</div>
<div class="pagination">
    <span class="step-links">
        {% if employees.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ employees.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ employees.number }} of {{ employees.paginator.num_pages }}.
        </span>

        {% if employees.has_next %}
            <a href="?page={{ employees.next_page_number }}">next</a>
            <a href="?page={{ employees.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
</div>
	</div>

</body>

</html>
